<mat-toolbar>
    <span>{{_studentCommonService.StudentForm.controls['key'].value?"Modify Student":"New Student"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form [formGroup]="_studentCommonService.StudentForm" class="formPopup" (submit)="onSubmit()">

    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile>
            <div class="controls-container">
                <input type="hidden" formControlName="key">
                <mat-form-field>
                    <input MatInput formControlName="fullName" matInput placeholder="Full Name*">
                    <mat-error>Full Name is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input MatInput formControlName="email" matInput placeholder="Email*">
                    <mat-error>Email is mandatory.</mat-error>
                    <mat-error *ngIf="_studentCommonService.StudentForm.controls['email'].errors?.email"> invalid email
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input MatInput formControlName="phone" matInput placeholder="Phone Number*">
                    <mat-error *ngIf="_studentCommonService.StudentForm.controls['phone'].errors?.required">This
                        field is mandatory.
                    </mat-error>
                    <mat-error *ngIf="_studentCommonService.StudentForm.controls['phone'].errors?.minLength">This field
                        is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input MatInput formControlName="city" matInput placeholder="city">
                    <mat-error>Full Name is mandatory.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controls-container">
                <div class="add-bottom-padding" style="margin-top:23px">
                    <mat-radio-group formControlName="gender" aria-label="Select Gender" class="add-bottom-padding">
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field>
                    <mat-select formControlName="branch" placeholder="Branch">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let branch of branches">
                            <mat-option value="{{branch.id}}">{{branch.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="DOB" matInput [matDatepicker]="picker" placeholder="Date Of Birth"
                        (change)="log(picker)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error> {{_studentCommonService.StudentForm.controls['DOB'].errors}}</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="_studentCommonService.StudentForm.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>